
<html>
    <head>
        <meta charset="UTF-8"/>
				<link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="container">
            <div class="container__item landing-page-container">
                <div class="content__wrapper">

                    <header class="header">
                        <div class="menu-icon header__item">
                            <span class="menu-icon__line"></span>
                        </div>

                        <h1 class="heading header__item">rohitbh09</h1>

                        <ul class="social-container header__item">
                            <li class="social__icon social__icon--fb">
                                <img src="http://s29.postimg.org/3ldyta4qb/image.png" alt="facebook">
                            </li>
                            <li class="social__icon social__icon--dr">
                                <img src="http://s29.postimg.org/vqltn8fhv/image.png" alt="dribbble">
                            </li>
                            <li class="social__icon social__icon--in">
                                <img src="http://s29.postimg.org/p1fa77u5v/image.png" alt="instagram">
                            </li>
                        </ul>
                    </header>

                    <p class="coords">N 49° 16' 35.173"  /  W 0° 42' 11.30"</p>

                    <div class="ellipses-container">

                        <h2 class="greeting">Hello</h2>

                        <div class="ellipses ellipses__outer--thin">

                            <div class="ellipses ellipses__orbit"></div>

                        </div>

                        <div class="ellipses ellipses__outer--thick"></div>
                    </div>

                    <div class="scroller">
                        <p class="page-title">home</p>

                        <div class="timeline">
                            <span class="timeline__unit"></span>
                            <span class="timeline__unit timeline__unit--active"></span>
                            <span class="timeline__unit"></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </body>
</html>
